extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum ad error id blanditiis esse ipsam quisquam ut ducimus eum repellat corporis ipsa, ipsum porro! Voluptatem optio, repellat expedita aliquam tempore pariatur quaerat quam, iusto repudiandae repellendus labore odit quos inventore eius! Exercitationem repudiandae excepturi harum ipsum dicta illo quos beatae.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corporis, repellendus commodi similique tempore recusandae autem molestias numquam. Eveniet nobis sunt sapiente ullam minus eum necessitatibus adipisci quasi explicabo quod voluptatibus culpa repellat consectetur rerum, perferendis tempora? Architecto, id commodi.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes

    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales