extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores explicabo, est molestias itaque, pariatur quidem tempore adipisci repudiandae ut animi dolorum tenetur nobis. Sit temporibus sed quis exercitationem minus impedit dolorem, iusto laboriosam praesentium eos! Dignissimos error commodi numquam rem quam, illum sequi architecto, explicabo quod aliquam soluta. Debitis, autem?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum explicabo necessitatibus ipsa debitis. Ad culpa, quam et iusto iste earum ut ipsum numquam aspernatur sequi facere labore, aliquam deserunt unde porro sed possimus recusandae suscipit animi vel praesentium dolorum! Saepe, quaerat cumque vero, inventore magnam doloremque ipsa alias distinctio, quasi quibusdam totam! Accusamus quia quod, officia neque necessitatibus incidunt laudantium?

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia natus quo laboriosam dolores omnis eos est, velit vitae officiis, iste suscipit beatae aperiam amet libero itaque at! Amet cumque excepturi quod qui laboriosam. In aperiam pariatur error aliquam alias, tempora, laboriosam a minus cumque at hic quibusdam voluptate aspernatur, incidunt libero excepturi iste iure. Hic neque vitae dolorem debitis sed laudantium facilis vel dicta fugit fugiat eveniet, non deleniti itaque doloribus reiciendis, possimus ea voluptate, voluptatibus amet. Saepe, praesentium eaque!

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque hic nam. Itaque illum consequatur dignissimos, nesciunt suscipit sunt culpa?
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque hic nam. Itaque illum consequatur dignissimos, nesciunt suscipit sunt culpa?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis neque hic nam. Itaque illum consequatur dignissimos, nesciunt suscipit sunt culpa?
